<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	ol li{

}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
	

<div ng-app="myapp"  ng-controller = "myCtrl" >
	
<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-2"  >

			<ul>
				<div class="list-group">
					<div ng-repeat="x in range(0,sections.length)">
  					<a href="" class="list-group-item active"  ng-click="changeSelected(x)" ng-if="x==selectedSectionIndex"  active >{{sections[x][0]}}</a>
  					<a href="" class="list-group-item" ng-click="changeSelected(x)" ng-if="x!=selectedSectionIndex"   >{{sections[x][0]}}</a>
  			
  					</div>
				</div>


				 <form ng-submit="addSection()">
        		<input type="text" ng-model="newSection"  
					   placeholder="Add New Section Here" required>
        		<input class="btn btn-primary" type="submit" value="Add Section">
				</form>

			</ul>
			
		</div>
		<div class="col-lg-10">
			<input class="input-lg focus" ng-model="sections[selectedSectionIndex][0]"> 
			<button class="btn btn-danger" ng-click="removeSection()">Remove Section</button>
			<p> choices here </p>
			<button type="button" class="btn btn-primary" ng-click="editField()">Edit Fields</button>
			<div ng-if="editFieldFlag">
				<div ng-repeat="i in range(0,sections[selectedSectionIndex][1].field.length)">
					<input ng-model="sections[selectedSectionIndex][1].field[i]">
					<button type="button" class="btn btn-danger" ng-click="deleteField(i)">Delete</button> 
				</div>

			</div>
			<div ng-show="editFieldFlag">
				<form ng-submit="addField()">
							 
        		<input type="text" ng-model="newField"  
					   placeholder="Add New Field Here" required>
        		<input class="btn btn-primary" type="submit" value="Add Field">
				</form>
			</div>
			<ol>
		
				<div ng-repeat="j in range(0,sections[selectedSectionIndex][1].contents.length)">
				<span>
  					<input style="float: left; position: relative; left: -20px;" type="checkbox" ng-model="checkedIndexes[j]">
				</span>
				
				<span>
				<li style="">							
					<ul>
					
						<li ng-repeat = "i in range(0,sections[selectedSectionIndex][1].field.length)">
				
							<span>
							{{sections[selectedSectionIndex][1].field[i]}}:<input ng-model="sections[selectedSectionIndex][1].contents[j][sections[selectedSectionIndex][1].field[i]]">
							</span>
						</li>
					</ul>
				</li>
				</span>

				</div>
				<button type="button" class="btn btn-danger" ng-click="deleteContent()">Delete Content</button>
				<button type="button" class="btn btn-primary" ng-click="addContent()">Add Content</button>
			</ol>
		</div>
	</div>
	<div class="row">
	</div>
</div>
</div>
<script>
var app = angular.module('myapp',[]);
app.controller('myCtrl',function($scope){
	$scope.selectedSectionIndex = 0;
	$scope.editFieldFlag = false;
	$scope.editSectionFlag = false;
	$scope.sections = [
		["basicInformation", {
			field:["Name","School"],
			hiddenField:[],
			contents:[{
				"Name":"David",
				"School":"UIUC"}]

		}],
		
		["Publication",{
			field:["Title","Authors"],
			hiddenField:[],
			contents :[{"Title":"Testing","Authors":"David"},
			{"Title":"Hello World","Authors":"Tianwei"}
			]
		}
	]]
	$scope.checkedIndexes = [];
	for(var i=0;i<100;i++){
		$scope.checkedIndexes.push(false);
	}
	$scope.range = function (start, count) {
      return Array.apply(0, Array(count))
        .map(function (element, index) { 
          return index + start;  
      });
    }
	$scope.changeSelected = function(x){
		for(var i=0;i<$scope.sections[$scope.selectedSectionIndex][1].contents.length;i++){
			$scope.checkedIndexes[i]=false;
		}
		$scope.selectedSectionIndex = x;
		$scope.editFieldFlag = false;
	}
	$scope.addContent =function(){
		$scope.sections[$scope.selectedSectionIndex][1].contents.push([]);
	}
	$scope.addSection=function(){
		$scope.sections.push([$scope.newSection,{field:["Default"],contents:[[]]}]);
		$scope.newSection ="";
	}
	$scope.addField = function(){
		$scope.sections[$scope.selectedSectionIndex][1].field.push($scope.newField);
		$scope.newField="";
	}
	$scope.editField = function(){
		$scope.editFieldFlag = !$scope.editFieldFlag;
	}
	$scope.deleteField = function(x){
		$scope.sections[$scope.selectedSectionIndex][1].field.splice(x,1);
	}
	$scope.editSection = function(){
		$scope.editSectionFlag = !$scope.editSectionFlag;
	}
	$scope.deleteContent = function(){
		var counts = 0;
		for(var i=0;i<$scope.sections[$scope.selectedSectionIndex][1].contents.length;i++){
			if($scope.checkedIndexes[i]==true){
				$scope.sections[$scope.selectedSectionIndex][1].contents.splice(i-counts,1);
				counts++;
				$scope.checkedIndexes[i]=false;
			}
		}
	}
	$scope.removeSection = function(){
		if($scope.sections.length==1) return;
		$scope.sections.splice($scope.selectedSectionIndex,1);
		$scope.selectedSectionIndex = 0;
	}
});
    
</script>

</body>
</html>
